.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PomodoroBackground {
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(111, 187, 219, 1) 0%,
    rgba(17, 86, 120, 1) 100%
  );
  height: 100vh;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.RestBackground {
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(111, 162, 219, 1) 0%,
    rgba(17, 48, 120, 1) 100%
  );
  height: 100vh;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

.RestBackground2 {
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(111, 129, 219, 1) 0%,
    rgba(17, 59, 120, 1) 100%
  );
  height: 100vh;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* .gradientTransition-appear {
  opacity: 0.01;
}

.gradientTransition-appear.gradientTransition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
} */

.gradientTransition-enter {
  opacity: 0.01;
}

.gradientTransition-enter.gradientTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.gradientTransition-leave {
  opacity: 1;
}

.gradientTransition-leave.gradientTransition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
